body {
    background-color: #EEEEEE;
    font-family: "Playwrite FR Moderne", serif !important;
}

/* Text */
.space-grotesk-0,
.fs-4,
.nav-link,
#footerbar {
    font-family: "Space Grotesk", sans-serif !important;
}

.playwrite-fr-moderne-0 {
    font-family: "Playwrite FR Moderne", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fs-4 {
    font-family: "Space Grotesk", serif;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

/* Header */
.nav-link {
    color: white !important;
}

.nav-link.active {
    background-color: #8E1616 !important;
    color: white;
}

.nav-link:hover {
    color: #8E1616 !important;
}

.nav-link.active:hover {
    color: #D84040 !important;
}

.header-container {
    background-color: #1D1616;
}

/* Heroes */
.hero-container {
    background-color: #D46A6A;
    border-width: 5px;
}

.hero-image {
    max-height: 400px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

hr {
    border: 3px solid black;
}

.hobby-table {
    background-color: #f8d7da !important; 
    border: 2px solid #8E1616 !important; 
}

.hobby-table th {
    background-color: #8E1616 !important; 
    color: white !important;
    text-align: center !important;
}

.hobby-table td {
    background-color: #fbeaea !important;
    text-align: center !important;
}

/* Footer */
#footerbar {
    background-color: #8E1616;
    color: white;
    padding: 20px;
    text-align: center;
}

#footerbar img{
    width: 20px;
    margin-right: 10px;
}

#footerbar ul {
    list-style: none;
    padding: 0;
}

#footerbar ul li {
    display: inline;
    margin: 0 10px;
}

#footerbar ul li a {
    color: white;
    text-decoration: none;
}

/* Contact Form */
.form-container {
    background-color: #f8d7da;
    border: 2px solid #8E1616;
    color: #1D1616;
    max-width: 500px;
    margin: auto;
}

/* Custom Submit Button */
.btn-custom {
    background-color: #8E1616 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    transition: 0.3s !important;
}

.btn-custom:hover {
    background-color: #D84040 !important;
    color: white !important;
}
